<!DOCTYPE html>
<html style="width:100%; height:99%;margin: 0;"> <!--<![endif]-->
<head>
    <title>Log</title>
   <link rel="shortcut icon" type="image/x-icon" href="../../../../../../../psm/ui/angular/assets/img/favicon.png" />
</head>
<body style="width:100%; height:100%;margin: 0;">
<div ng-app="logViewer" ng-controller="LogCtrl" style="width:100%;height:100%;flex-flow: column;">
    <!--<nav class="navbar navbar-inverse" style="flex: 0 1 auto">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="#/"><img src="../../../../../../../psm/ui/angular/assets/img/logo.png" alt="Info"
                                  style="width:62px;height:49px;border:0;"></a>
            </div>
            <div>
                <ul class="nav navbar-nav">
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="javascript:void(0)" ng-click="refresh()"><span
                            class="glyphicon glyphicon-refresh"></span>Refresh</a></li>
                </ul>
            </div>
        </div>
    </nav>-->
    <div style="width:20%; float:left;height:100%;flex: 1 1 auto">
        <div id="events" ui-grid="gridOptions" ui-grid-selection ui-grid-auto-scroll style="width:100%;height:100%;"></div>
    </div>
    <div style="float:left;width:80%;height:100%;overflow:scroll;flex: 1 1 auto" scroll-glue="glued">
        <div style="white-space: pre;margin-left: 1%;font: -webkit-small-control;" id=log{{log.num}} ng-repeat="log in logs" ng-click="selectRow(log)">{{log.text}}</div>
    </div>
</div>

<script src="../../../../../../../psm/ui/angular/assets/libs/jquery/dist/jquery.js"></script>
<script src="../../../../../../../psm/ui/angular/assets/libs/angular/angular.js"></script>
<script src="../../../../../../../psm/ui/angular/assets/libs/angular-scrollglue/scrollglue.js"></script>
<script src="../../../../../../../psm/ui/angular/assets/libs/angular-touch/angular-touch.js"></script>
<script src="../../../../../../../psm/ui/angular/assets/libs/ui-grid/ui-grid.js"></script>
<script src="../../../../../../../psm/ui/angular/assets/libs/ui-grid/auto-scroll.js"></script>
<link rel="stylesheet" href="../../../../../../../psm/ui/angular/assets/libs/bootstrap/dist/css/bootstrap.css">
<link rel="styleSheet" type="text/css" href="../../../../../../../psm/ui/angular/assets/libs/ui-grid/ui-grid.css">
<script src="app.js"></script>
<script src="controllers/log.js"></script>

</body>
</html>